{% extends 'base_lists.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-12 col-md-9 col-lg-6 border p-4">
        <h1>Añadir Item</h1>
        <p>Rellene el formulario para agregar un nuevo item a la lista.</p>
        <form action="/lists/{{list_id}}/add_item/" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
