{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-10 flex justify-center items-center">
    <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-lg">
        <h1 class="text-[#0e141b] text-2xl font-bold mb-4">Crear Lista</h1>
        <p class="text-[#4e7397] mb-4">Tu familia o amigos podrán añadir items, o consultar los que ya estén.</p>
        <form action="/lists/create/" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="bg-[#1980e6] text-white font-bold py-2 px-4 rounded-lg w-full mt-4">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
