{% extends 'base_lists.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-12 col-md-9 col-lg-6 border p-4">
        <h1>Actualizar Item</h1>
        <p>Modifica un item existente.</p>
        <form action="{% url 'modify_item' list_id=list.id item_id=item.id %}" method="post">
            {% csrf_token %}
            <p class="text text-danger">{{error}}</p>
            {{form.as_p}}
            <button>Save</button>
        </form>
    </div>
</div>
{% endblock %}
