{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-12 col-md-9 col-lg-6 border p-4">
        <h1>Share List, add collaborators</h1>
        <p>Invitación para la lista : {{list.id}}--{{list.name}}</p>
        <hr>
        <p>Comparte este enlace con la persona que quieras invitar</p>
        <div class="border border-2 border-primary" style="overflow-x: auto; white-space: nowrap;">
            <p class="px-2">{{share_url}}</p>
        </div>
        <button class="btn btn-primary mt-3" onclick="copyToClipboard()">Copy Link</button>
        <hr>
        <p>O dejale que escaneé este QR</p>
        <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code not found" style="width: 100%; height: auto;">
        
    </div>
</div>

<script>
    function copyToClipboard() {
        // Texto fijo que deseas copiar
        const text = "{{share_url}}";

        // Crea un campo de texto temporal para copiar el contenido
        const tempInput = document.createElement("textarea");
        tempInput.value = text;
        document.body.appendChild(tempInput);

        // Selecciona y copia el texto
        tempInput.select();
        document.execCommand("copy");

        // Elimina el campo de texto temporal
        document.body.removeChild(tempInput);
    }
</script>
{% endblock %}
