{% extends 'base_lists.html' %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col-md-6 border border-danger bg-light">
            <h1>Share List, add collaborators</h1>
            <p>Invitación para la lista : {{list.id}}--{{list.name}}</p>
            <p>URL: {{share_url}}</p>
            <button onclick="copyToClipboard()">Copy Link</button>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        // Texto fijo que deseas copiar
        const text = "{{share_url}}";

        // Crea un campo de texto temporal para copiar el contenido
        const tempInput = document.createElement("textarea");
        tempInput.value = text;
        document.body.appendChild(tempInput);

        // Selecciona y copia el texto
        tempInput.select();
        document.execCommand("copy");

        // Elimina el campo de texto temporal
        document.body.removeChild(tempInput);
    }
</script>
{% endblock %}
