{% extends 'base.html' %} <!--Para usar el template llamado base.html-->


{% block content%}

<section class="vh-10" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-10">
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center my-3 pb-3">{{title}}</h4>
  
              <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"> 
                <div class="col-12">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form1" class="form-control" />
                    <!-- <label class="form-label" for="form1">Enter a task here</label> -->
                  </div>
                </div>
  
                <div class="col-12">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Buscar</button>
                </div>
              </form>


              <div class="dropdown mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Filtrar por
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url url_name %}">Más Reciente Primero</a></li>
                  <li><a class="dropdown-item" href="{% url url_name %}?sort_mode=1">Más Antiguo Primero</a></li>
                  <li><a class="dropdown-item" href="{% url url_name %}?sort_mode=2">Importancia</a></li>
                  <li><a class="dropdown-item" href="{% url url_name %}?sort_mode=3">Orden Alfabético</a></li>
                </ul>
              </div>
  
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">Tarea</th>
                    <th scope="col">Importancia</th>
                    <th scope="col">Fecha añadida</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>

                    {% for task in tasks %}

                      <tr>
                          <td>{{task.title}}</td>
                          {% if task.important %}
                              <td>Importante</td>
                          {% else %}
                              <td>Normal</td>
                          {% endif %}
                          <td>{{task.date_completed}}</td>
                          <td>
                              <a href="{% url 'task_detail' task.id %}"><button class="btn btn-success btn-sm">Ver más</button></a>
                          </td>
                      </tr>
                                            
                    {% endfor %}
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}