{% extends 'base.html' %} <!--Para usar el template llamado base.html-->

{% block content%}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-12 col-md-9 col-lg-6 border p-4">
        <h2>Modificar Perfil</h2>
        <div class="mt-4">
            <h4>Información actual del perfil</h4>
            <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <div class="d-flex justify-content-center">
                <div class="rounded-circle overflow-hidden" style="width: 150px; height: 150px;">
                    <img src="../media/{{ user.profile.pic }}" alt="Profile Picture" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
        <p style="color: red;">{{error}}</p>
        <button id="toggle-form-btn" class="btn btn-primary mt-3">Modificar los detalles</button>
        <div id="profile-form-container" style="display: none;">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <label for="id_pic">Foto de Perfil</label>
                    <input type="file" id="id_pic" name="pic" accept="image/*" onchange="previewImage(event)">
                    <div id="image-preview-container" class="d-flex justify-content-center mt-3" style="display:none;">
                        <div class="rounded-circle overflow-hidden" style="width: 150px; height: 150px;">
                            <img id="image-preview" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="cropped_image_data" name="cropped_image_data">
                <button class="btn btn-success">Guardar Cambios</button>
            </form>
        </div>
        <div class="mt-3">
            <p>¿Quieres cambiar tu contraseña? <a href="{% url 'reset_password' %}">Hazlo aquí</a></p>
        </div>
        <div class="mt-3">
            <h4>Eliminar cuenta</h4>
            <form action="{% url 'delete_user' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">Introduce tu contraseña para eliminar la cuenta:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-danger mt-2">Eliminar cuenta</button>
                <p style="color: red;">{{delete_error}}</p>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
    document.getElementById('toggle-form-btn').addEventListener('click', function() {
        const formContainer = document.getElementById('profile-form-container');
        if (formContainer.style.display === 'none') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });

    function previewImage(event) {
        const input = event.target;

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const validExtensions = ['image/jpeg', 'image/jpg', 'image/png'];
            if (!validExtensions.includes(file.type)) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Formato de imagen no válido',
                    text: 'Solo se permiten archivos .jpg, .jpeg y .png',
                });
                return;
            }
            if (file.size > 5 * 1024 * 1024) {  // 5 MB
                Swal.fire({
                    icon: 'warning',
                    title: 'La Imagen es muy grande',
                    text: 'El tamaño máximo permitido es de 5 MB',
                });
                return;
            }

            const reader = new FileReader();
            reader.onload = function(e) {
                Swal.fire({
                    title: 'Crop your image',
                    html: `
                        <img id="preview" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                        <div>
                            <img id="cropperjs" src="${e.target.result}" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                        </div>
                    `,
                    willOpen: () => {
                        const image = Swal.getPopup().querySelector('#cropperjs');
                        const cropper = new Cropper(image, {
                            aspectRatio: 1,
                            viewMode: 1,
                            crop: throttle(function() {
                                const croppedCanvas = cropper.getCroppedCanvas();
                                const preview = Swal.getPopup().querySelector('#preview');
                                preview.src = croppedCanvas.toDataURL();
                            }, 25),
                        });
                    },
                    preConfirm: () => {
                        const croppedCanvas = Swal.getPopup().querySelector('#cropperjs').cropper.getCroppedCanvas();
                        return croppedCanvas.toDataURL();
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('image-preview').src = result.value;
                        document.getElementById('image-preview-container').style.display = 'block';
                        document.getElementById('cropped_image_data').value = result.value;
                    }
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function throttle(func, limit) {
        let lastFunc;
        let lastRan;
        return function() {
            const context = this;
            const args = arguments;
            if (!lastRan) {
                func.apply(context, args);
                lastRan = Date.now();
            } else {
                clearTimeout(lastFunc);
                lastFunc = setTimeout(function() {
                    if ((Date.now() - lastRan) >= limit) {
                        func.apply(context, args);
                        lastRan = Date.now();
                    }
                }, limit - (Date.now() - lastRan));
            }
        }
    }
</script>
{% endblock %}