{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto py-10">
    <div class="bg-white rounded-xl shadow-lg p-10">
        <h2 class="text-gray-800 text-4xl font-black mb-4">Modificar Perfil</h2>
        <div class="mt-4">
            <h4 class="text-gray-800 text-2xl font-bold mb-2">Información actual del perfil</h4>
            <p class="text-gray-600"><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            <p class="text-gray-600"><strong>Email:</strong> {{ user.email }}</p>
            <div class="d-flex justify-content-center mt-4">
                <div class="rounded-full overflow-hidden" style="width: 150px; height: 150px;">
                    <img src="../media/{{ user.profile.pic }}" alt="Profile Picture" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
        <p style="color: red;">{{error}}</p>
        <button id="toggle-profile-form-btn" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg mt-3">Modificar los detalles</button>
        <div id="profile-form-container" style="display: none;">
            <form action="#" method="post" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                {{form.as_p}}
                <div class="mt-4">
                    <label for="id_pic" class="text-gray-800">Foto de Perfil</label>
                    <input type="file" id="id_pic" name="pic" accept="image/*" onchange="previewImage(event)" class="block w-full text-gray-800 mt-2">
                    <div id="image-preview-container" class="d-flex justify-content-center mt-3" style="display:none;">
                        <div class="rounded-full overflow-hidden" style="width: 150px; height: 150px;">
                            <img id="image-preview" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <input type="hidden" id="cropped_image_data" name="cropped_image_data">
                <button class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg mt-4">Guardar Cambios</button>
            </form>
        </div>
        <div class="mt-6">
            <button id="toggle-password-form-btn" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg mt-3">Cambiar Contraseña</button>
            <div id="password-form-container" style="display: none;">
                <form action="{% url 'reset_password' %}" method="post" class="mt-4">
                    <p class="text-gray-800">¿Quieres cambiar tu contraseña? <a href="{% url 'reset_password' %}" class="text-blue-500">Hazlo aquí</a></p>
                </form>
            </div>
        </div>
        <div class="mt-6">
            <h4 class="text-gray-800 text-2xl font-bold mb-2">Eliminar cuenta</h4>
            <button id="toggle-delete-form-btn" class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg mt-3">Eliminar cuenta</button>
            <div id="delete-form-container" style="display: none;">
                <form action="{% url 'delete_user' %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="password" class="text-gray-800">Introduce tu contraseña para eliminar la cuenta:</label>
                        <input type="password" name="password" class="form-control mt-2" required>
                    </div>
                    <button type="submit" class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg mt-4">Eliminar cuenta</button>
                    <p style="color: red;">{{delete_error}}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
    document.getElementById('toggle-profile-form-btn').addEventListener('click', function() {
        const formContainer = document.getElementById('profile-form-container');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });

    document.getElementById('toggle-password-form-btn').addEventListener('click', function() {
        const formContainer = document.getElementById('password-form-container');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });

    document.getElementById('toggle-delete-form-btn').addEventListener('click', function() {
        const formContainer = document.getElementById('delete-form-container');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });

    function previewImage(event) {
        const input = event.target;

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const validExtensions = ['image/jpeg', 'image/jpg', 'image/png'];
            if (!validExtensions.includes(file.type)) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Formato de imagen no válido',
                    text: 'Solo se permiten archivos .jpg, .jpeg y .png',
                });
                return;
            }
            if (file.size > 5 * 1024 * 1024) {  // 5 MB
                Swal.fire({
                    icon: 'warning',
                    title: 'La Imagen es muy grande',
                    text: 'El tamaño máximo permitido es de 5 MB',
                });
                return;
            }

            const reader = new FileReader();
            reader.onload = function(e) {
                Swal.fire({
                    title: 'Crop your image',
                    html: `
                        <img id="preview" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                        <div>
                            <img id="cropperjs" src="${e.target.result}" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                        </div>
                    `,
                    willOpen: () => {
                        const image = Swal.getPopup().querySelector('#cropperjs');
                        const cropper = new Cropper(image, {
                            aspectRatio: 1,
                            viewMode: 1,
                            crop: throttle(function() {
                                const croppedCanvas = cropper.getCroppedCanvas();
                                const preview = Swal.getPopup().querySelector('#preview');
                                preview.src = croppedCanvas.toDataURL();
                            }, 25),
                        });
                    },
                    preConfirm: () => {
                        const croppedCanvas = Swal.getPopup().querySelector('#cropperjs').cropper.getCroppedCanvas();
                        return croppedCanvas.toDataURL();
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('image-preview').src = result.value;
                        document.getElementById('image-preview-container').style.display = 'block';
                        document.getElementById('cropped_image_data').value = result.value;
                    }
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function throttle(func, limit) {
        let lastFunc;
        let lastRan;
        return function() {
            const context = this;
            const args = arguments;
            if (!lastRan) {
                func.apply(context, args);
                lastRan = Date.now();
            } else {
                clearTimeout(lastFunc);
                lastFunc = setTimeout(function() {
                    if ((Date.now() - lastRan) >= limit) {
                        func.apply(context, args);
                        lastRan = Date.now();
                    }
                }, limit - (Date.now() - lastRan));
            }
        }
    }
</script>
{% endblock %}