{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-10 flex justify-center items-center min-h-screen">
    <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-md">
        <h2 class="text-[#0e141b] text-2xl font-bold mb-4">Request Password Reset</h2>
        <p class="text-[#4e7397] mb-4">Introduce el email de la cuenta que deseas cambiar la contraseña, recibirás un enlace para cambiar tu contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="bg-[#1980e6] text-white font-bold py-2 px-4 rounded-lg w-full mt-4" type="submit">Enviar mail</button>
        </form>
        {% if message %}
            <p class="text-[#0e141b] mt-4">{{ message }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}