{% extends 'base_auth.html' %} <!--Para usar el template llamado base.html-->

{% block content%}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-12 col-md-9 col-lg-6 border p-4">
        <h2>User details</h2>
        {{user_info.username}}
        <br>
        {{user_info.email}}
        <br>
        {% if user_info.profile %}
            <p>{{ user_info.profile.description }}</p>
            <img src="../media/{{ user_info.profile.pic }}" alt="User Profile Picture" style="max-width: 100%; height: auto;">
        {% else %}
            <p>Aún no has completado tu perfil.</p>
            <a href="{% url 'complete_profile' %}">Completar perfil</a>
        {% endif %}
    </div>
</div>
{% endblock %}